[Desktop Entry]
Categories=Development;IDE;Java;
Comment[es_GT]=Develop with pleasure!
Comment=Develop with pleasure!
Exec=/usr/bin/idea %f
Icon=idea
MimeType=
Name[es_GT]=IntelliJ IDEA Community Edition
Name=IntelliJ IDEA Community Edition
Path=
StartupNotify=true
StartupWMClass=jetbrains-idea-ce
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
